git+https://github.com/huridocs/pdf-tokens-type-labeler@22699b185c73c234e2d0243ce98f52bd415d2eee
git+https://github.com/huridocs/pdf_paragraphs_extraction@9765c33f32139d6043e67d30b30fd2ba10f4da1d
mapcalc
pycocotools==2.0.7
lightgbm==4.3.0
optuna==3.5.0
numpy==1.26.4
scikit-learn==1.4.0
pydantic==2.6.1